body {
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  padding: 18vh 1rem;
  text-align: center;
}

h1 {
  color: gold;
  font-size: 50pt;
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

html {
  background: url('../images/sofia.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.signup-form {
  padding-top: 10%;
  padding-left: 5%;
  padding-right: 50%;
  position: relative;
}

.copyright {
  font-family: "Helvetica", sans-serif;
  color: grey;
  font-size: 10pt;
  padding: 1em;
  position: fixed;
  right: 0;
  bottom: 0;
}